@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

.warehouses-list-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;

  @include tablet {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include desktop {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &__title {
    @include m-h1;
    color: color(global-black);
    margin-bottom: 1rem;

    @include tablet {
      @include h1;
      margin-bottom: 1.5rem;
    }
  }

  &__link {
    @include m-h3;
    border-radius: 20px;
    background-color: color(interactive);
    color: color(global-white);
    height: 36px;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;

    &:hover {
        background-color: color(nav-bg);
    }

    @include tablet {
      width: 168px;
      @include h3;
      color: color(global-white);
      margin-bottom: 1.5rem;
    }
  }

}

.warehouses-search {
  position: relative;
  margin-bottom: 1rem;

  @include tablet {

    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
  }

  &__input {
    @include m-p2;
    border-radius: 20px;
    height: 36px;
    padding: 1rem;
    width: 100%;
    border: 1px solid color(borders);
    outline: none;

    @include tablet {
      @include p2;
    }

    &::placeholder {
      @include m-p2;
      color: color(table-header-text);
    }

    &:focus {
      border-color: color(interactive);
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 20px;
    height: 36px;
    background-image: url("../../assets/icons/search-24px.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
  }

}