@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;


.warehouse-details {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  height: 365px;
  @include tablet {
    height: 292px;
  }
  @include desktop {
    height: 274px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91.5%;
    height: 92px;
    
  }

  &__title-div {
    display: flex;
    align-items: center;
  }

  &__arrow-link {
    display: flex;
    align-items: center;
  }

  &__arrow-icon {
    margin-right: 8px
  }

  &__title {
    @include m-h1;
    @include tablet {
      @include h1;
    }
  }

  &__edit-link {
    cursor: pointer;
  }

  &__edit-button {
    border: none;
    width: 36px;
    height: 36px;
    background-color: color(interactive);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    @include tablet {
      width: 81px;
      height: 38px;
      display: flex;
      padding-right: 5px;
    }
  }

  &__edit-icon {
    width: 20px;
    height: 20px;
    @include tablet {
      margin-right: .5rem;
    }
  }

  &__edit {
    display: none;
    @include tablet {
      display: inline;
      @include h3;
      color: color(global-white);
      
    }
  }

  &__border {
    width: 100%;
    border-bottom: 1px solid color(borders);
  }

  &__warehouse-detail {
    width: 100%;
  }

  &__inventory-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid color(borders)
  }

  &__inventory-data {
    width: 91.5%;
    
  }

  &__flex-row {
    display: flex;
  }
  
  &__item-category {
    margin-right: 73px;
  }

  &__item-div {
    margin-top: 16px;
    
  }

  &__item-label {
    @include m-h4;
  }
  
  &__item-link {

  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item-text {
    @include m-h3;
    color: color(interactive);
  }

  &__item-chevron-right {
    width: 20px;
    height: 20px;
    padding-top: 2px; 

  }

  &__category-div {
    margin-top: 20px;
  }

  &__category-label {
    @include m-h4;

  }

  &__category {
    @include m-p2;
    margin-top: 4px;
  }

  &__status-quantity {

  }

  &__status-div {
    margin-top: 16px;
  }

  &__status-label {
    @include m-h4;

  }

  &__status-container {
    width: 61px;
    height: 24px;
    background-color:  rgba(21, 132, 99, 0.07);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
  }

  &__status {
    @include m-h4;
    color: color(instock);
    margin-top: 4px;
  }

  &__quantity-div {
    margin-top: 20px;
  }

  &__quantity-label {
    @include m-h4;

  }

  &__quantity {
    @include m-p2;
  }

  &__delete-edit {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 27px;
  }

  &__button {
    border: none;
    outline: none;
    background: none;
  }

  &__delete {

  }

  &__edit-two {
    display: block;
  }










}