@use '../../partials/variables'as *;
@use '../../partials/mixins'as *;

.warehouse-list-section {
  position: absolute;
  top: 136px;
  background: color(global-white);
  width: 91.5%;
  margin-left: 4.25%;
  margin-right: 1rem;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgb(19 24 44 / 0.20);
  margin-bottom: 4rem;

  @include tablet {
    top: 92px;
  }

  @include desktop {
    width: 80%;
    margin-left: 10%;
  }

}