
@use '../../partials/typography' as *;
@use '../../partials/mixins' as *;



.inv-item-details {
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  height: 365px;
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91.5%;
    height: 92px;
  }

  &__title-div {
    display: flex;
    align-items: center;
  }

  &__arrow-icon {
    margin-right: 8px
  }

  &__title {
    @include m-h1;
  }

  &__edit-div {
    width: 36px;
    height: 36px;
    background-color: color(interactive);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__edit-icon-path {

  }

  &__edit-icon {
    width: 20px;
    height: 20px;
  }

  &__edit {
    display: none;
  }

  &__border {
    width: 100%;
    border-bottom: 1px solid color(borders);
  }

  &__main {
    width: 91.5%;
    height: 250px;
  }

  &__main-top {

  }

  &__descr-label {
    @include m-h4;
    margin-top: 16px;
  }

  &__descr {
    @include m-p2;
    margin-top: 4px;
    margin-right: 50px;
  }

  &__category-label {
    @include m-h4;
    margin-top: 16px;

  }

  &__category {
    @include m-p2;
    margin-top: 4px;


  }

  &__main-bottom {

  }

  &__div-row {
    display: flex;
    margin-top: 16px;
  }

  &__div-column {
    margin-right: 117px;
  }

  &__status-label {
    @include m-h4;
    
  }

  &__div-status {
    width: 61px;
    height: 24px;
    background-color:  rgba(21, 132, 99, 0.07);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__status {
    @include m-p2;
    color: color(instock);
    margin-top: 4px;

  }

  &__quantity-label {
    @include m-h4;
  }

  &__quantity {
    @include m-p2;
    margin-top: 4px;


  }

  &__warehouse-label{
    @include m-h4;
    margin-top: 16px;


  }

  &__warehouse {
    @include m-p2;
    margin-top: 4px;


  }

}