@use '../../partials/typography'as *;
@use '../../partials/mixins'as *;

.warehouses-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid color(borders);

  @include tablet {
    border-top: none;
  }


  &__control {
    display: flex;
    justify-content: space-between;
  }

  &__delete,
  &__edit {
    background: transparent;
    border: none;
    outline: none;
  }
}

.warehouses-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid color(borders);
  padding-bottom: 1rem;

  &:last-of-type {
    border-bottom: none;
  }

  @include tablet {
    padding-top: 0;
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;

  }

  @include desktop {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &__item {
    width: 45%;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 0;
    }

    &--warehouse {
      order: 1;

      @include tablet {
        width: 100px;
      }

      @include desktop {
        width: 150px;
      }
    }

    &--name {
      order: 2;

      @include tablet {
        order: 3;
        width: 110px;
      }

      @include desktop {
        width: 150px;
      }
    }

    &--address {
      order: 3;

      @include tablet {
        order: 2;
        width: 100px;
      }

      @include desktop {
        width: 220px;
      }

    }

    &--contact {
      order: 4;

      @include tablet {
        width: 150px;
      }


      @include desktop {
        width: 150px;
      }
    }

  }



  &__label {
    @include m-h4;
    color: color(table-header-text);

    @include tablet {
      display: none;

    }
  }

  &__value {
    @include m-p2;
    color: color(table-header-text);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    &--location {
      @include m-h3;
      color: color(interactive);
      display: flex;
      align-items: center;

      &:active,
      &:visited,
      &:link {
        color: color(interactive);
      }

      &:hover {
        > img {
          margin-left: 4px;
        }
      }
    }

    &--contact {
      display: flex;
      flex-direction: column;
    }
  }

  &__chevron-image {
    width: 16px;
    height: 16px;
    transition: margin-left .3s ease;

    &:hover {
      margin-left: 4px;
    }
  }
}

.warehouses-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  order: 5;
  height: 24px;

  @include tablet {
    width: 70px;
    justify-content: space-between;

  }


  @include desktop {
    width: 70px;
  }

  &__delete,
  &__edit {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}